.language-select {
    padding: 0 !important;
    border: none !important;
    color: white !important;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ {
    border: none !important;
    background: #273142 !important;
}

.ReactFlagsSelect-module_selectOption__3pcgW {
    background: transparent !important;
}

.ReactFlagsSelect-module_label__27pw9 {
    color: inherit !important;
}